<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      
          <script src="https://utteranc.es/client.js"
            repo="jcieslewicz/stat386-projects" 
            issue-term="title"
            theme="github-light"
            label="comment"
            crossorigin="anonymous"
            async>
          </script>
      
    </main>
    


    {%- include footer.html -%}

  </body>

</html>
